.supportform {
  position: relative;
  display: block;
}

.supportform::after {
  content: '';
  width: 100%;
  border-bottom: solid 3px #ffdf65;
  position: absolute;
  left: 0;
  top: 180%;
  z-index: 0;
}

.supportform__title {
  position: absolute;
  padding: 0 1rem;
  background-color: #fff !important;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
